---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
---

<Layout>
  <main class="bg-black text-white">
    <div class="stars"></div>
    
    <section class="hero min-h-screen flex items-center justify-center relative">
      <div class="text-center" data-aos="fade-up">
        <h1 class="text-6xl font-bold mb-4">La Ciencia Detrás del Viaje Interestelar</h1>
        <p class="text-xl">Explorando los límites del espacio y tiempo</p>
      </div>
    </section>

    <Section 
      title="Agujeros de gusano" 
      content=""
      image="../Agujero de gusano.jpeg"
      video="../video/aguejero de gusano.mp4"
    />

    <Section 
      title="Relatividad" 
      content=""
      image="../relatividad.jpeg"
      reverse={true}
      video="https://player.vimeo.com/video/108650530"
    />

    <Section 
      title="Planetas habitables" 
      content=""
      image="../Adpatacion.png"
      video="https://player.vimeo.com/video/108650530"
      />

          <Section 
      title="Descubrimientos" 
      content=""
      image="../treseracto.webp"
      reverse={true}
      video="https://player.vimeo.com/video/108650530"
    />


    <section class="hero min-h-screen flex items-center justify-center relative">
      <div class="text-center" data-aos="fade-up">
        <h1 class="text-6xl font-bold mb-4">Explorando las innovaciones tecnológicas que hacen posible el viaje interestelar.</h1>
      </div>
    </section>



    <Section 
      title="Naves Endurance" 
      content=""
      image="https://external-preview.redd.it/WZ-VAASfLWWZmBPG50IrQNhXnb4YqZ06tDNB1e3BEP0.jpg?auto=webp&s=90e07ef4813782ab523e3dedef126c57a97d4697"
      reverse={true}
      video="https://player.vimeo.com/video/108650530"
    />

    <Section 
      title="Robots" 
      content=""
      image="https://s1.dmcdn.net/v/9X-tQ1LC-mBTW__o0/x1080"
      video="https://player.vimeo.com/video/108650530"
    />

    <Section 
      title="Plan B" 
      content=""
      image="https://static1.cbrimages.com/wordpress/wp-content/uploads/2024/11/dr-brand-checks-on-samples-of-dna-for-plan-b-in-interstellar.jpg"
      video="https://player.vimeo.com/video/108650530"
      reverse={true}
    />

    <Section 
      title="Comunicación" 
      content=""
      image="../comunicacion.webp"
      video="https://player.vimeo.com/video/108650530"
    />

    <section class="hero min-h-screen flex items-center justify-center relative">
      <div class="text-center" data-aos="fade-up">
        <h1 class="text-6xl font-bold mb-4">El Impacto Positivo en la Sociedad: Inspiración y Esperanza</h1>
      </div>
    </section>

    <Section 
      title="Interés en la ciencia" 
      content=""
      image="https://blogs.futura-sciences.com/e-luminet/wp-content/uploads/sites/11/2016/03/Formules-450x300.jpg"
      video="https://player.vimeo.com/video/108650530"
      reverse={true}
    />

    <Section 
      title="Colaboración global" 
      content=""
      image="../colaboracion global.png"
      video="https://player.vimeo.com/video/108650530"
    />

    <Section 
      title="Resiliencia humana" 
      content=""
      image="resilencia humana.png"
      video="https://player.vimeo.com/video/108650530"
      reverse={true}
    />

    <section class="hero min-h-screen flex items-center justify-center relative">
      <div class="text-center" data-aos="fade-up">
        <h1 class="text-6xl font-bold mb-4">El Lado Oscuro: Consecuencias Negativas y Dilemas Éticos</h1>
      </div>
    </section>

    <Section 
      title="Antintelectualismo" 
      content=""
      image="https://i.ytimg.com/vi/xYhiQcM22Qg/maxresdefault.jpg"
      reverse={true}
      video="../video/desinformacion.mp4"
    />

    <Section 
      title="Dilemas éticos" 
      content=""
      image="https://www.cinemascomics.com/wp-content/uploads/2014/11/Interstellar-1.jpg"
      video="https://player.vimeo.com/video/108650530"
    />


    <section class="hero min-h-screen flex items-center justify-center relative">
      <div class="text-center" data-aos="fade-up">
        <h1 class="text-6xl font-bold mb-4">Una historia a la insdutrializacion </h1>
      </div>
    </section>

    <Section 
      title="Civilización multiplanetaria" 
      content=""
      image="https://mrinformatica.es/wp-content/uploads/2019/12/1366_2000.jpeg"
      reverse={true}
      video="https://player.vimeo.com/video/108650530"
    />

    <Section 
      title="Adaptación" 
      content=""
      image="https://i.blogs.es/4c3a93/650_1000_cartel-interstellar/450_1000.jpg"
      video="https://player.vimeo.com/video/108650530"
    />


   
        <Section 
      title="Adaptación" 
      content=""
      image="https://i.blogs.es/4c3a93/650_1000_cartel-interstellar/450_1000.jpg"
      video="https://player.vimeo.com/video/108650530"
      reverse={true}
    />



  </main>
</Layout>

<style>
  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
        background: black url('https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg') repeat;

    animation: twinkle 200s linear infinite;
    opacity: 0.3;
    z-index: 0;
  }

  @keyframes twinkle {
    from { background-position: 0 0; }
    to { background-position: -10000px 5000px; }
  }

  section {
    position: relative;
    z-index: 1;
  }
</style>